* {
    margin: 0px;
}

/*banner section*/
header {
    font-family: 'Merriweather', serif;
}

.header-container {
    background-image: url('../resources/Banner\ Image.png');
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1440px;
    height: 600px;
    margin: auto;

}

.header-container .container-head h4 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.header-container .container-head h3 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding: 0 345px;
    margin-bottom: 175px;

}

/*section of 65% off & happy new year section */

.main-item {
    font-family: 'Inter', sans-serif;
}

.main-item h3 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}

.main-item p {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 50;
}

.main-item h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-info {
    height: 50px;
    margin-top: 50px;
}

.img {
    background-image: url('../resources/New\ Year\ Photo.png');
    width: 802.9px;
    height: 500px;
    text-align: center;
    margin-left: 300px;
    background-repeat: no-repeat;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
}

/* Welcome to midnight party*/

.section-item {
    background-image: url(../resources/Vectorr.png);
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    height: 600px;
    width: 1440px;
    margin: auto;
    margin-top: 60px;
}

.section-container {
    display: flex;
    font-family: 'Inter', sans-serif;
}

.section-container h3 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900px;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    width: 600px;
}

.section-list {
    padding: 115px;
}

.section-list p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    /* 166.667% */
}

.btn-primary {
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F00;
    display: inline-flex;
    border: none;
    color: #FFF;
    font-size: 20px;
    margin-top: 20px;
}
.main-img{
    display: flex;
    padding: 90px 100px;
    justify-content: center;
    width: 300px;
    height: 400px;
}

/*new park hotel*/

.section-div {
    width: 1320px;
    height: 482px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: auto;
    margin-top: 50px;
}

.div-pera {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 150px;
}

.div-span {
    color: #F00;

}

/*offer*/

.new-year {
    display: flex;
    width: 1320px;
    height: 400px;
    margin: 0 auto;
    justify-content: space-between;

}


.new-year-item h5 {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

}

.new-year-item h4 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
}

.new-year-item p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    /* 160% */
}

.new-year-pic {
    align-items: center;
    border: 10px solid #F00;
    padding: 5px;
    border-radius: 100%;
}

.new-year-left h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new-year-left p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 275px;
}


/*protfolio css*/


.protfolio-section {
    width: 1320px;
    height: 1000px;
    margin: auto;
    display: grid;
    margin-top: 70px;
}

.protfolio-section h5 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.protfolio-section h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.protfolio-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    width: 896px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.protfolio-img {
    width: 424px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

/*subscribe newspaper*/

.section-submit {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    margin: auto;
    margin-top: 150px;

}

.submit-item {
    text-align: center;
    margin: auto;
}

.submit-item img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    justify-content: center;
    margin-top: 80px;
}

.submit-item h2 {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.submit-item p {
    width: 900px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: auto;
    /* 160% */
}

.input-item {
    width: 640px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}

.input-item input {
    padding: 28px 150px; 
    border-radius: 60px 0px 0px 60px;
    border: none;
}
.input-item input:focus{
    outline: 0;
}

.input-item button {
    border-radius: 0px 60px 60px 0px;
    background: #F00;
    padding: 28px 60px;
    font-size: 18px;
    color: #FFF;
    border: none;
    width: 210px;
    height: 72px;
    font-family: 'Inter', sans-serif;
}


/*section of footer*/
.footer-container {
    width: 1600px;
    height: 500px;
    background: #070211;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 100px;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding: 70px 0 30px 60px;
}

.footer-item p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    width: 400px;
    margin-bottom: 20px;
}
.footer-icon{
    justify-content: space-between;
    margin: 50px 40%;
}
.item-list{
    display: flex;
    
}
.footer-side{
    padding: 28px 80px;
    font-family: 'Inter', sans-serif;
}
.footer-footer{
    display: flex;
    color: #FFF;
    justify-content: space-between;
    margin-top: 50px;
}
.pera1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    width: 400px;
    margin-bottom: 20px;
    padding: 20px 0px 30px 60px;
}
.pera2{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500px;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 28px 80px;
}